.formCaption {
    margin: 0;
}

.formGroup {
    height: 50px;
    box-sizing: border-box;
    width: auto;
    margin-bottom: 0.55rem;
    background: var(--root-color-light);
}

.formManagerBtn {
    display: flex;
    margin-top: 0.55em;
    gap: 0.55em
}

.formAuthBtn {
    flex: 1;
}

.formAuthManager {
    margin-top: 1em;
    display: flex;
    gap: 1em
}

.formAuthContainer {
    flex: 1;
}

.formLabel {
    --input-label-background: var(--ui-blue-magenta-40);
    color: var(--root-text-color);
    justify-content: left;
    padding: 0 0.75em;
    flex-basis: auto;
}

.formBtn {
    background: var(--root-color-light);
}

.formBtnReset {
    background: var(--ui-blue-magenta-100-62);
}

.form {
    display: grid;
}

@media (min-width: 1366px) {
    .form {
        grid-template-columns: repeat(2, 1fr);
        gap: 0 2.5em;
    }
    .formItemLast {
        grid-column: 1 / span 2;
    }
    .formItemAlert {
        grid-column: 1 / span 2;
    }
}

.formInputFile {
    opacity: 0;
    position: relative;
    z-index: -1;
    order: 1;
    flex: 0;
}

.formInputLabelFile {
    display: flex;
    align-items: center;
    order: 0;
    font-size: 0.875em;
    flex: 1;
}

.formInputCopyBtn {
    order: 2;
    display: flex;
    gap: 0.5rem;
}