.inputGroup {
  border: none;
  display: flex;
  flex-direction: row;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(223, 223, 223, 0.55);
  -moz-box-shadow: 0px 0px 12px 2px rgba(223, 223, 223, 0.55);
  box-shadow: 0px 0px 12px 2px rgba(223, 223, 223, 0.55);
  padding: 0.35em;
  border: 1px solid var(--ui-background-light);
  transition: all 0.25s cubic-bezier(0.47, 0, 0.74, 0.71);
  gap: 0.5rem;
}

.inputGroup.inputGroupFocused {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(223, 223, 223, 0.85);
  -moz-box-shadow: 0px 0px 12px 2px rgba(223, 223, 223, 0.85);
  box-shadow: 0px 0px 12px 2px rgba(223, 223, 223, 0.85);
}

.inputLabel {
  font: 0.875em/1.5em var(--root-font-family);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--input-label-background);
  color: var(--root-color-light);
  border-radius: 0.55em;
  flex: 0 0 155px;
  --input-label-background: var(--ui-blue-magenta-90);
}

.Input {
  font: 0.875em/1.5em var(--root-font-family);
  border: none;
  background: transparent;
  outline: none;
  flex: 1 1 0;
}

.inputLabel.inputLabelRight {
  order: 1;
}

/*********** Baseline, reset styles ***********/
.Input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
.Input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
.Input[type="range"]::-webkit-slider-runnable-track {
  background-color: #9a9ffc;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.Input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #676774;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.Input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #676774;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
.Input[type="range"]::-moz-range-track {
  background-color: #9a9ffc;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
.Input[type="range"]::-moz-range-thumb {
  background-color: #676774;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.Input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #676774;
  outline-offset: 0.125rem;
}