.card {
  padding: 1.8em;
  background: white;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0px 0px 25px 2px var(--root-box-shadow-color);
  -moz-box-shadow: 0px 0px 25px 2px var(--root-box-shadow-color);
  box-shadow: 0px 0px 25px 2px var(--root-box-shadow-color);
  display: flex;
  flex-direction: column;
}

.cardImage {
    width: 100%;
}

.cardText {
    font: 0.875em/1.5em var(--root-font-family);
    margin: 0;
}

.cardTitle {
    font: bold 1.25em/1.5em var(--root-font-family);
    margin: 1em 0;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1em;
}

.cardContent {
    flex-grow: 1;
}