.exercisePage {
    padding: 0 2.5em 2.5em;
    background: var(--ui-background-light);
    --range-switcher-background: var(--ui-dark-color);
}

.exercisePageHeader {
    padding: 2.5em 0 0;
}

.exercisePageTitle {
    margin: 0 0 0.1em;
    font: bold 2.5em/1em var(--root-font-family);
}

.exercisePageImgContainer {
    margin: 0 0 2em;
    height: 265px;
    width: 100%;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0px 0px 25px 2px var(--root-box-shadow-color);
    -moz-box-shadow: 0px 0px 25px 2px var(--root-box-shadow-color);
    box-shadow: 0px 0px 25px 2px var(--root-box-shadow-color);
    background: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.exercisePageImg {
    height: inherit;
}

.exercisePageManager {
    display: grid;
    grid-template-columns: 1fr 2.5em 356px;
    grid-column: 1;
}

.exercisePageContainer {
    display: grid;
    grid-template-columns: minmax(832px, 1fr) 1fr;
}

.exercisePageTimerContainer {
    display: grid;
    gap: 1.5em;
    grid-column: 3;
    grid-template-columns: minmax(166px, 1fr) minmax(166px, 1fr);
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
        "timer-start-btn  timer-pause-btn"
}

.exercisePageTimerStartBtn {
    grid-area: timer-start-btn;
}
.exercisePageTimerPauseBtn {
    grid-area: timer-pause-btn;
}

.exercisePageValue {
    font: 300 5em var(--root-font-family);
    margin: 0;
}

.exercisePageTimer {
    padding-left: 0.35em;
}

.exercisePageStartBtn, .exercisePagePauseBtn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.65rem;
    width: 100%;
    font: 0.8em/1.5em var(--root-font-family);
}

.exercisePagePauseIcon {
    fill: var(--range-switcher-background);
}

.exercisePageDelay {
    height: 50px;
    box-sizing: border-box;
    width: auto;
    margin-bottom: 0.55rem;
}

.exercisePageDelay:last-of-type {
    margin-bottom: 0;
}

.exercisePageDelayInput {
    text-align: right;
}

.exercisePageSpoiler {
    display: grid;
    grid-template-columns: minmax(0, 832px);
    gap: 1em;
}

.exercisePageSpoilerContainer {
    grid-column: 1;
    margin-bottom: 1.25rem;
    --spoiler-padding: 0.25rem 0.5rem;
    --spoiler-border-radius: 0.25rem 0.5rem;
}

.exercisePageCaption {
    margin: 0;
}

.exercisePageLabelActive {
    background: var(--ui-blue-magenta-100-62);
}

.exercisePageSpoilerLabel {
    color: var(--ui-blue-magenta-100);
    width: max-content;
    margin: 0;
    font: 0.825em var(--root-font-family);
}

.exercisePageSpoilerLabel:hover {
    text-decoration: underline;
    cursor: pointer;
}

.exercisePageText {
    grid-column: 1 / span 2;
}

.exercisePageMessage {
    grid-column: 1 / span 2;
    margin-top: 0;
}