.listExercisesContainer {
  display: grid;
  grid-template-columns: repeat(1000, var(--card-width));
  --card-width: 350px;
  gap: 2rem;
  padding: 2.5rem;
  transition: transform .25s ease;
}

.listExercises {
  width: 100vw;
  overflow: hidden;
  background: var(--ui-background-light);
}