.spoilerBody.spoilerBodyIsActive {
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease;
    max-height: 0;
    margin: 0;
}

.spoilerBody {
    transition: all 0.25s ease;
    max-height: var(--height-spoiler);
    margin: var(--spoiler-body-margin);
    --spoiler-padding: 0.5rem 0.75rem;
    --spoiler-border-radius: 0.5rem;
}

.spoiler {
    display: flex;
    flex-direction: column;
    --height-spoiler: 500px;
    --spoiler-body-margin: 1em 0 0;
}

.spoilerSwitcher {
    width: max-content;
    padding: var(--spoiler-padding);
    border-radius: var(--spoiler-border-radius);
}