@media screen and (min-width: 0px) {
  #navigation.navbar {
    flex-direction: column;
    align-items: start;
  }
  #navigation .slider-btn {
    margin-top: 1em;
  }
  .ex-wrap {
    flex-direction: column;
  }
  .ex-wrap-content {
    margin-top: 1rem;
  }
  .ex-manager-btn {
    display: flex;
    flex-direction: column;
  }
  .ex-img-top {
    width: 100%;
  }
  .ex-manager-btn button:last-of-type {
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 384px) {
  #navigation.navbar {
    flex-direction: row;
    align-items: start;
  }
  #navigation .slider-btn {
    margin-top: 0;
  }
  .ex-manager-btn button:last-of-type {
    margin-left: 1rem;
  }
  .ex-manager-btn {
    display: flex;
    flex-direction: row;
  }
  .ex-manager-btn button:last-of-type {
    margin-top: 0rem;
  }
}
@media screen and (min-width: 716px) {
  .ex-wrap {
    flex-direction: row;
  }
  .ex-wrap-content {
    margin: 0 1rem;
  }
  .ex-img-top {
    width: 300px;
  }
}
.compact-menu {
  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}
.active.compact-menu {
  height: var(--collapse-height);
  transition: height 1s ease;
}
.list-exercises {
  transition: transform 0.6s ease;
}
.card-wrapper {
  width: 300px
}
.card {
  height: 100%;
}
.ex-img-top {
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.ex-wrap {
  align-items: start;
}
.card-title {
  font-weight: 700;
}